body {
    background-color: white;
    margin:0;
    padding:0;
    min-width:570px;
    min-height:500px;
}

h2 {
    float:right;
    font-size: 1.5em;
}
/* Top Section of page */
#topBar {

    background-color: white;
    width:100%;
    height:30%;
    margin-bottom:5px;
    min-height:80px;

}
/* Middle Section of page */
#midBar {
    background-color: #a59a6d;
    text-align:right;
    Height:auto;
    margin:0;

}
/* Bottom Section of page */
#botBar {
    color:#53563b;
    height:30vh;
    margin:0 50px 0 50px;
}

#logo {
    width:75px;
}

#menu {
    font-size: .8em;
    color:#222222;
    background-color: rgba(136,161,88,0.3);
    border-style:solid;
    border-color:#60733d;
    border-radius:5px ;
}

#userTxt {
    float: left;
}

/* An Idea for a floating menu at the bottom of the page. Doesn't look bad, needs work.
#menu {
    font-size: .8em;
    position: fixed;
    right:40%;
    bottom:0;
    background-color: rgba(136,161,88,0.3);
    border-style:solid;
    border-color:#60733d;
    border-radius:5px ;
}
*/